extends ../layouts/common

block content
  h1 Book Store

  a(href="/shops/books/create") Thêm sách
  
  if !books
    .alert.alert-primary.mt-2 No book in your shop. Please Add!
  else 
    .row.mt-3
      .col-sm-6.col-md-4.col-lg-3
        span= books.books[0]
      
       
        
                